/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 mar 2023, 12:35:11
    Author     : Angel Jesus Zorrilla Cuevas
*/

:root {
    --motion-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    --motion-duration: 0.3s;
}
*{
    font-family: sans-serif;
}

h1{
    margin-top: 40px;
    text-align: center;
}

form {
    width: 310px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    background-color:#FFBF9B;
    display: grid;
    grid-template-columns: 100px 200px;
    grid-column-gap: 10px;
}

form label {
    font-weight: bold;
    grid-column: 1/2;
    text-align: end;
    align-self: center;
    /*margin-right: 10p*/
}

form input{
    /*grid-column: 2/2;*/
    /*width: 60%;*/
    padding: 5px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    margin: 12px 0;
}
form select{
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    margin: 12px 0;
}

form button {
    /*width: 100%;*/
    padding: 8px 16px;
    margin-top: 12px;
    border-radius: 5px;
    grid-column: 1/3;
    border: none;
    cursor: pointer;
    background-color: #FAEDCD;
}

