/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 mar 2023, 00:01:44
    Author     : Angel Jesus Zorrilla Cuevas
*/

*{
    font-family: sans-serif;
}
h1{
    margin-top: 40px;
    width: 100%;
    text-align: center;
}
.container {
    margin: 10px 20px;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    grid-auto-rows: minmax(100px, auto);
}

input{
    margin-top: 20px;
    align-self: center;
}

.form{
   /*font-family: sans-serif;*/
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
